.news-article {
    max-width: 300px;
    height: auto;
}

.top-img {
    width: 50%;
    margin: auto;
    max-height: 400px;
}

.top-img img {
    width: 100%;
    overflow: hidden;
}

.disco li {
    text-align: center;
    font-weight: bold;
}
